@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9761 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0 0 0);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.5999 0 0);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.8078 0 0);
    --muted-foreground: oklch(0 0 0);
    --accent: oklch(0 0 0);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0 0 0);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0 0 0);
    --input: oklch(1.0000 0 0);
    --ring: oklch(0.5999 0 0);
    --radius: 0px;
  }

  .dark {
    --background: oklch(0 0 0);
    --foreground: oklch(0.9761 0 0);
    --card: oklch(0.2178 0 0);
    --card-foreground: oklch(0.9761 0 0);
    --popover: oklch(0.2178 0 0);
    --popover-foreground: oklch(0.9761 0 0);
    --primary: oklch(0.9761 0 0);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.3715 0 0);
    --secondary-foreground: oklch(0.9761 0 0);
    --muted: oklch(0.3715 0 0);
    --muted-foreground: oklch(0.9761 0 0);
    --accent: oklch(0.9761 0 0);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.9761 0 0);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.9761 0 0);
    --input: oklch(0.2178 0 0);
    --ring: oklch(0.3715 0 0);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
